@font-face
{
    font-family: Datacron;
    src: url(Datacron.ttf);
}

body
{
    background: rgb(24, 25, 26)
}

h1 
{
    font-family: Datacron;
    text-align: center;
    font-size: 70px;
    color: #fff;
}

p 
{
    text-align: center;
    font-size: 40px;
    color: #fff;
}


#ourSlider
{
    width: 50vw;
    height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}